:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2 {
  margin-left: 28vw;
}

.span {
  margin-right: 5vw;
}

.span1 {
  margin-right: 3vw;
}

.span3 {
  margin-right: 1vw;
}

.input {
  margin-right: 1vw;
}
