<div class="container2">
  <span class="span1"
    ><input type="text" pInputText readonly class="input" /> Netto</span
  >
  <span class="span1"
    ><input type="text" pInputText readonly /> Belegnummer</span
  >
</div>
<br />
<div class="container2">
  <span class="span1"
    ><input type="text" pInputText readonly class="input" />MwSt. 19%</span
  >
  <span></span>
</div>
<br />
<div class="container2">
  <span class="span1"
    ><input type="text" pInputText readonly class="input" />Brutto</span
  >
  <span></span>
</div>
<br />
<div class="container2">
  <span class="span1"
    ><input type="text" pInputText readonly class="input"
  /></span>
  <span></span>
</div>
<br />
<div class="container">
  <span class="span">
    <p-dropdown
      [options]="massageType"
      [(ngModel)]="selectedMassage"
      placeholder="Select a massage"
      optionLabel="name"
      [showClear]="true"
    ></p-dropdown>
  </span>
  <span>
    <p-dropdown
      [options]="massageType"
      [(ngModel)]="selectedTime"
      placeholder="Select a time"
      optionLabel="time"
      [showClear]="true"
    ></p-dropdown>
  </span>
</div>
<br />
<div class="container">
  <span class="span">
    <p-dropdown
      [options]="person"
      [(ngModel)]="selectedPerson"
      placeholder="Select a person"
      [showClear]="true"
    ></p-dropdown>
  </span>
  <span>
    <p-dropdown
      [options]="count"
      [(ngModel)]="selectedCount"
      placeholder="Select count"
      [showClear]="true"
    ></p-dropdown>
  </span>
</div>
<br />
<div class="container">
  <span class="span">
    <p-dropdown
      [options]="cities"
      [(ngModel)]="selectedCity"
      placeholder="Select a city"
      optionLabel="name"
      [showClear]="true"
    ></p-dropdown>
  </span>
  <span>
    <p-calendar
      inputId="basic"
      [(ngModel)]="date"
      showButtonBar="true"
      [showIcon]="true"
    ></p-calendar
  ></span>
</div>
<br />
<div class="container">
  <span class="span3">
    <button
      pButton
      pRipple
      type="button"
      label="SAVE INPUT"
      class="p-button-raised p-button-info"
    ></button>
  </span>
  <span class="span3">
    <button
      pButton
      pRipple
      type="button"
      label="NEXT-INPUT"
      class="p-button-raised p-button-help"
    ></button>
  </span>
  <span class="span3">
    <button
      pButton
      pRipple
      type="button"
      label="CREATE-PDF"
      class="p-button-raised p-button-success"
    ></button>
  </span>
  <span>
    <button
      pButton
      pRipple
      type="button"
      label="CLEAR FORM"
      class="p-button-raised p-button-warning"
    ></button>
  </span>
</div>
